.categoria {
    --cor-contraste-categ: #AA938B;
    --cor-media-categ: #C4B4AD;
    --cor-base-categ: #F5EBE6;
    --cor-clara-escura-categ: #E9D8D0;
    --cor-clara-categ: #FFFAF8;


    text-align: center;
    padding: 10px;

    border: none;
    width: 100px;
    height: 28px;

    border-radius: 50px;
    background-color: inherit;

    color: inherit;
    font-size: var(--zoom-descricao-size);
}

.categoria:focus {
    outline: none;
}

.categoria::placeholder {
    text-align: center;
    color: var(--cor-contraste-categ);
    font-size: var(--zoom-descricao-size);

}

.categorias-salvas {
    color: var(--cor-contraste-categ);
    border-radius: 15px;
    background-color: var(--cor-clara-escura-categ);

    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 2px;
}


.categorias-salvas li {
    color: var(--cor-contraste-categ);

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    width: 100px;
    height: 28px;
    font-size: var(--zoom-descricao-size);

    background-color: var(--cor-clara-escura-categ);
    
    border-radius: 200px;
}

.categorias-salvas li:hover{
    cursor: pointer;
    background-color: var(--cor-media-categ);
}



.recomendations-categoria{
    display: none;
}