.card {
    --cor-contraste-card: #AA938B;
    --cor-media-card: #C4B4AD;
    --cor-base-card: #F5EBE6;
    --cor-clara-escura-card: #E9D8D0;
    --cor-clara-card: #FFFAF8;


    width: 495px;



    background-color: var(--cor-base-card);

    border: solid 2px var(--cor-clara-card);
    border-radius: 15px;



    margin-bottom: 10px;
    margin-top: 10px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);



}

.card-head,
.card_head_check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px 15px 25px;
    border-bottom: solid 2px var(--cor-clara-escura-card);
}

.card-head h1 {
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-contraste-card);
}

.card-head input[type="checkbox"] {
    accent-color: var(--cor-contraste-card);
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

.card-head input[type="checkbox"]:hover {
    cursor: pointer;
}


.card-text {
    font-size: 12px;
    padding: 20px;
    color: var(--cor-contraste-card);
}


/*CASO CHECADO ----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
.card_head_check h1 {
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
    color: color-mix(in srgb, var(--cor-contraste-card) 50%, transparent);
    text-decoration: line-through;
}

.card_head_check input[type="checkbox"] {
    accent-color: var(--cor-contraste-card);
    width: 20px;
    height: 20px;
    border-radius: 30px;


}

.card_head_check input[type="checkbox"]:hover {
    cursor: pointer;
}

.card-text-check {
    font-size: 12px;
    padding: 20px;
    font-style: italic;
    color: color-mix(in srgb, var(--cor-contraste-card) 50%, transparent);
    text-decoration: line-through;

}

/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/





.card-left {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: space-between;
}



.card-left .card-tag {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    padding: 0px 19px 0px 19px; 
    height: 28px;
    border-radius: 50px;
    background-color: var(--cor-clara-escura-card);

    font-size: var(--zoom-descricao-size);
    color: var(--cor-contraste-card);

}



.card-bottom {
    display: flex;
    justify-content: space-between;
}




.card-delete-bottom svg>path {
    fill: var(--cor-base-card)
}

.card-delete-bottom {
    border-radius: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background-color: var(--cor-media-card);
}

.card-delete-bottom:hover {
    background-color: var(--cor-contraste-card);
    cursor: pointer;
}




/*CHECKBOX REDONDO*/
/*=====================*/

.checkbox-redondo {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 18px;
    height: 18px;

    border: 2px solid var(--cor-contraste-card);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    display: inline-block;
}

.checkbox-redondo:checked {
    background: var(--cor-contraste-card);
    border-color: var(--cor-contraste-card);
}

.checkbox-redondo:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    margin: 1px auto;
}