
.container-card-ediar{
    --cor-contraste-criar-card: "#AA938B";
    --cor-media-criar-card: "#C4B4AD";
    --cor-base-criar-card: "#F5EBE6";
    --cor-clara-escura-criar-card: "#E9D8D0";
    --cor-clara-criar-card: "#FFFAF8";


    margin-top: 10px;

    width: 540px;
    min-height: 235px;

    position: absolute;
    top: 27vh;
    
    background-color: var(--cor-base-criar-card);

    border: solid, 1.5px var(--cor-media-criar-card);

    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);


}


.container-card-{
    --cor-contraste-criar-card: "#AA938B";
    --cor-media-criar-card: "#C4B4AD";
    --cor-base-criar-card: "#F5EBE6";
    --cor-clara-escura-criar-card: "#E9D8D0";
    --cor-clara-criar-card: "#FFFAF8";


    margin-top: 10px;

    width: 510px;
    min-height: 205px;
    background-color: var(--cor-base-criar-card);

    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);

}

.head-card-criar{
    display: flex;
    align-items: center;
    justify-content: space-around;}

.head-card-criar input{
    color: var(--cor-contraste-criar-card);
    padding: 25px;
    padding-top: 30px;
    border: none;

    width: 100%;
    height: 30px;
    
    font-size: var(--zoom-titulo-size);
    background: transparent;
    font-weight: 500;}

.head-card-criar input::placeholder{
    color: var(--cor-contraste-criar-card);}

.head-card-criar input:focus{
    outline: none;}





.textarea-descricao-editar{
    width: 95%;
    min-height:100px;
    margin: 10px;
    border-radius: 9px;
    border: none;

    font-size: var(--zoom-descricao-size);
    color: var(--cor-contraste-criar-card);
    background-color: var(--cor-clara-criar-card);
    padding: 15px;
    

    resize: vertical;
    display: block;
    overflow: hidden;}

.textarea-descricao-editar[contenteditable]:empty::before{
    content: "Meu primeiro card...";
    font-size: var(--zoom-descricao-size);
    color: var(--cor-contraste-criar-card);} 


.textarea-descricao-editar:focus{
    outline: none;}












.bottom-card-criar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;}

.bottom-card-criar .tag-card-criar{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100px;
    height: 28px;
    border-radius: 50px;
    background-color: var(--cor-clara-escura-criar-card);

    font-size: var(--zoom-descricao-size);
    color: var(--cor-contraste-criar-card);

    text-align: center;}

.bottom-card-criar .btn-criar-tarefa{
    
    width: 137px;
    height: 37px;
    border-radius: 9px;
    border: solid 1.7px var(--cor-contraste-criar-card);

    color: var(--cor-contraste-criar-card);
    font-size: var(--zoom-descricao-size);

    background: transparent;}

.bottom-card-criar .btn-criar-tarefa:hover{
    cursor: pointer;
    background-color: var(--cor-clara-escura-criar-card);}


.btn-criar-desable{
    width: 137px;
    height: 37px;
    border-radius: 9px;
    border: solid 1.7px var(--cor-clara-escura);

    color: var(--cor-media);
    font-size: var(--zoom-descricao-size);

    background: transparent;

    cursor: not-allowed;
}


::selection{
    font-weight: 700;
    font-style: bold;
    background-color: var(--cor-clara-escura);
}



/*CLASSE QUE MUDA ESTRUTURA COMPLESTAMENTE ----------
#################################################
#################################################
#################################################*/